footer {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    color: black;
}
footer a{
    text-decoration: none;
}
.name {
    color: gainsboro;
    font-style: italic;
}
@media (max-width: 900px){
    footer{
        font-size: 14px;
    }
}