body {
  font-family: "Dosis", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/085/248/original/background.jpg?1686518542");
  background-size: 92%;
  background-repeat: no-repeat;
}

h1 {
  margin: 5px 0 5px;
  font-size: 40px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}

ul {
  margin: 0 0 15px;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 100;
  line-height: 1.1;
  color: black;
}

li::first-letter {
  text-transform: capitalize;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  font-size: 16px;
  color: black;
}

.weather-app {
  border: 1px solid white;
  padding: 15px;
  margin: 50px auto;
  max-width: 700px;
  border-radius: 10px;
  background: linear-gradient(180.3deg,
      rgb(221, 221, 221) 5.5%,
      rgb(110, 136, 161) 90.2%);
  opacity: 0.9;
}

#search-button {
  background-color: white;
  color: black;
  border: 1px solid white;
}

#search-button:hover {
  transition: all 200ms ease-in-out;
  background-color: black;
  color: white;
}

#current-button {
  background-color: white;
  color: red;
  border: 1px solid white;
}

#current-button:hover {
  transition: all 200ms ease-in-out;
  background-color: red;
  color: white;
}

#description {
  font-size: 18px;
}

.temperature-big {
  color: rgb(33, 33, 33);
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  left: -25px;
}

.units {
  position: relative;
  top: -45px;
  left: -25px;
}

.weather-icon {
  position: relative;
  left: -22px;
  top: -20px;
  width: 150px;
}

.weather-extra-info {
  text-align: right;
  margin-top: 25px;
  font-size: 18px;
}

.weekly-forecast {
  text-align: center;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 10px;
  color: white;
}

.forecast-days .forecast-temp {
  font-size: 20px;
}

.min-temp {
  opacity: 0.6;
}

.git-emoji {
  width: 25px;
  clip-path: circle();
}

.name {
  color: gainsboro;
  font-style: italic;
}

@media (max-width: 900px) {
  body {
    background-repeat: repeat;
  }

  h1 {
    margin: 20px;
  }

  li {
    text-align: center;
  }

  .temperature-big {
    position: relative;
    left: 20px;
  }

  .units {
    position: relative;
    top: -45px;
    left: 20px;
  }

  .weather-icon {
    position: relative;
    left: 20px;
    top: -20px;
    width: 150px;
  }

  .weather-extra-info {
    margin-top: -20px;
  }

  .weekly-icon {
    width: 50%;
  }

  .weather-app {
    max-width: 90%;
  }
}