body {
  font-family: "Dosis", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/085/248/original/background.jpg?1686518542");
  background-size: 92%;
  background-repeat: no-repeat;
}


.weather-app {
  border: 1px solid white;
  padding: 15px;
  margin: 50px auto;
  max-width: 800px;
  border-radius: 10px;
  background: linear-gradient(180.3deg,
      rgb(221, 221, 221) 5.5%,
      rgb(110, 136, 161) 90.2%);
  opacity: 0.9;
}



@media (max-width: 900px) {
  body {
    background-repeat: repeat;
  }
  .weather-app {
    max-width: 95%;
  }
}