#search-button {
    background-color: white;
    color: black;
    border: 1px solid white;
}

#search-button:hover {
    transition: all 200ms ease-in-out;
    background-color: black;
    color: white;
}

#current-button {
    background-color: white;
    color: red;
    border: 1px solid white;
}

#current-button:hover {
    transition: all 200ms ease-in-out;
    background-color: red;
    color: white;
}
