.temperature-big {
    color: rgb(33, 33, 33);
    font-size: 80px;
    font-weight: 400;
    line-height: 1;
    position: relative;
    left: -25px;
}

.units {
    position: relative;
    top: -45px;
    left: -25px;
}
.units a{
    text-decoration: none;
}

@media (max-width: 900px){

    .temperature-big {
            position: relative;
            left: 5px;
        }
    
        .units {
            position: relative;
            top: -45px;
           left: 5px; 
        }
        .bar-units , .farenheit-link {
            display: none;
        }
}