.temperature-big {
    color: rgb(33, 33, 33);
    font-size: 100px;
    line-height: 1;
    position: relative;
    left: -15px;
    top: 20px;
   
}

.units {
    font-size: 20px;
    position: relative;
    top: -38px;
    left: -20px;
    
}
.units a{
    text-decoration: none;
    
}

@media (max-width: 900px){

    .temperature-big {
        font-size: 70px;
            position: relative;
            left: 5px;
            margin-left: 12px;
        }
    
        .units {
            font-size: 15px;
            position: relative;
            top: -26px;
            left: -5px
    
        }
        .bar-units , .farenheit-link {
            display: none;
        }
}